pkgbase = dnr-bin
	pkgdesc = Shared Deno runtime (system CEF, prebuilt)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/fansion314/dnr
	arch = x86_64
	license = MIT
	license = Apache-2.0
	license = BSD-3-Clause
	depends = glibc
	depends = gcc-libs
	depends = gtk3
	depends = glib2
	depends = cairo
	depends = zlib
	depends = libx11
	depends = libxi
	depends = cef
	optdepends = libayatana-appindicator: system tray support
	optdepends = libnotify: desktop notifications via notify-send
	provides = dnr=0.1.0
	conflicts = dnr
	conflicts = dnr-webview
	noextract = dnr-0.1.0-1-x86_64.pkg.tar.zst
	options = !strip
	options = !debug
	source = https://github.com/fansion314/dnr/releases/download/v0.1.0/dnr-0.1.0-1-x86_64.pkg.tar.zst
	source = https://github.com/fansion314/dnr/releases/download/v0.1.0/dnr-0.1.0-1-x86_64.pkg.tar.zst.sha256
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = dnr-bin
